#background-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 12;
  pointer-events: none;
}
.bubble {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 0.8);
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.x1 {
  animation: animateBubble 28s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(0.6);
}
.x2 {
  animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}
.x3 {
  animation: animateBubble 30s linear infinite,
    sideWays 8s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  transform: scale(0.7);
}
.x4 {
  animation: animateBubble 18s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  left: 48%;
  top: 35%;
  transform: scale(0.8);
}
.x5 {
  animation: animateBubble 21s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  left: 35%;
  top: 55%;
  transform: scale(0.9);
}
.x6 {
  animation: animateBubble 14s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  left: -30%;
  top: 40%;
  transform: scale(0.3);
}
.x7 {
  animation: animateBubble 7s linear infinite,
    sideWays 0.7s ease-in-out infinite alternate;
  left: 60%;
  top: -14%;
  transform: scale(0.6);
}
.x8 {
  animation: animateBubble 36s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  left: 50%;
  top: 55%;
  transform: scale(0.5);
}
.x9 {
  animation: animateBubble 41s linear infinite,
    sideWays 12s ease-in-out infinite alternate;
  left: 70%;
  top: -20%;
  transform: scale(0.2);
}
.x10 {
  animation: animateBubble 20s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  left: 90%;
  top: -10%;
  transform: scale(0.6);
}
